#root {
    max-width: auto;
    max-height: fit-content;
    margin: 0 auto;
}

body {
  padding-top: 50px;
  background: linear-gradient(135deg, #2c3e50, #34495e);
  color: #fff;
  font-family: 'Arial', sans-serif;
}

section {
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 8px;
  margin-top: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  animation: glow-border 3s infinite;
  padding-top: 2em;
}

footer {
  padding: 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
  min-width: 100%;
  
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar {
  background-color: #0e1c1b;
  padding: 20px;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo-container {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logo {
  width: 100%;
  height: 100%;
  animation: rotate 5s infinite linear;
  transform-style: preserve-3d;
}

.navbar-nav .nav-link {
  color: #f1c40f;
}

.navbar-nav .nav-link:hover {
  color: #fff;
}

.container {
  margin-top: 100px;
}

h1, h2, h3 {
  font-family: 'Arial', sans-serif;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes glow-border {
  0% {
    box-shadow: 0 0 5px #3498db, 0 0 10px #3498db, 0 0 15px #3498db;
  }
  50% {
    box-shadow: 0 0 10px #f1c40f, 0 0 20px #f1c40f, 0 0 30px #f1c40f;
  }
  100% {
    box-shadow: 0 0 5px #3498db, 0 0 10px #3498db, 0 0 15px #3498db;
  }
}
